# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
csvdiff/.idea/compiler.xml
csvdiff/.idea/*
csvdiff/target/*
*.iml
csvdiffui/.idea/*
csvdiffui/.idea/modules.xml
csvdiffui/.idea/workspace.xml
csvdiffui/target/Test
*.csv
csvdiffui/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
csvdiffui/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
csvdiffui/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
csvdiffui/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
